body
{

    background: url("../images/2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#login-box
{
	width:30%;
	height:auto;
	margin:0 auto ;
	margin-top:13%;
	text-align:center;
	background:#00000060;
	padding:20px 50px;
}
#login-box h1
{
    color:rgb(255,255,255);
}
#login-box .form .item
{
    margin-top:15px;
}
#login-box .form .item i
{
	font-size:18px;
	color:rgb(255,255,255);
}
#login-box .form .item input
{
	width:180px;
	font-size:18px;
	border:0;
	border-bottom:2px solid #fff;
	padding:5px 10px;
	background:#ffffff00;
	color:rgb(255,255,255);
}
#login-box .button
{
    margin-top:10px;
    width:65px;
    height:30px;
	font-size:15px;
	font-weight:500;
	color:#fff;
	background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
	border:0;
	border-radius:15px;
}