<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分享你的知识</title>
</head>
<body>
<div class="change">
    <div class="select">
        <h3>请选择要提交的科目</h3>
        <select  name="subject" style="width: 150px;">
            <option>电路</option>
            <option>电机</option>
            <option>电分</option>
            <option>高压</option>
            <option>电力电子</option>
            <option>继保</option>
        </select>
    </div>
    <div>
        <input type="text" name="sub_subject" placeholder="请输入相应知识点 例：变压器波形分析">
    </div>

</div>
</body>
</html>